In [32]:
# Sample code to do FP-Growth in Python
import pyfpgrowth
# Creating Sample Transactions
transactions = [
     ['b','d','c','a'],
     ['e','d','c'],
     ['a','b'],
     ['a','c','d'],
     ['f','g','d','b']
 ]
 
#Finding the frequent patterns with min support threshold=2
FrequentPatterns=pyfpgrowth.find_frequent_patterns(transactions=transactions,support_threshold=2)
print(FrequentPatterns)
 
# Generating rules with min confidence threshold=2
Rules=pyfpgrowth.generate_association_rules(patterns=FrequentPatterns,confidence_threshold=0.5)
Rules

{('b',): 3, ('b', 'd'): 2, ('c',): 3, ('c', 'd'): 3, ('a',): 3, ('a', 'd'): 2, ('d',): 4}

{('b',): (('d',), 0.6666666666666666),
 ('d',): (('a',), 0.5),
 ('c',): (('d',), 1.0),
 ('a',): (('d',), 0.6666666666666666)}

In [28]:
dataset = [
     ['b','d','c','a'],
     ['e','d','c'],
     ['a','b'],
     ['a','c','d'],
     ['f','g','d','b']
 ]

In [29]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

       a      b      c      d      e      f      g
0   True   True   True   True  False  False  False
1  False  False   True   True   True  False  False
2   True   True  False  False  False  False  False
3   True  False   True   True  False  False  False
4  False   True  False   True  False   True   True

In [30]:
from mlxtend.frequent_patterns import fpgrowth

fpgrowth(df, min_support=0.5)

   support itemsets
0      0.8      (3)
1      0.6      (2)
2      0.6      (1)
3      0.6      (0)
4      0.6   (2, 3)

In [33]:
fpgrowth(df, min_support=0.6, use_colnames=True)

   support itemsets
0      0.8      (d)
1      0.6      (c)
2      0.6      (b)
3      0.6      (a)
4      0.6   (d, c)